@page "/contact"
@attribute [Authorize(Roles = "User")]

<h1 id="contact">
    <MudText Typo="Typo.h4" Style="text-align:center">Contact</MudText>
</h1>
<PageTitle>Portfo.io - Aloha!</PageTitle>
<CommentList />
<HorizonDiv />
<AnchorNav />

@code {

}
