@page "/experience"
@attribute [Authorize(Roles = "User")]
<h1 id="experience">
    <MudText id="experience" Typo="Typo.h4" Style="text-align:center">Experience</MudText>
</h1>
<PageTitle>Experience</PageTitle>
<ExpDrop />
<HorizonDiv />
<AnchorNav />

@code {

}