@page "/project"
<h1 id="project">
    <MudText Typo="Typo.h4" Style="text-align:center">Projects</MudText>
</h1>
<PageTitle>Project</PageTitle>
<ProjectCarousel/>
<HorizonDiv />
<AnchorNav />

@code {

}